<!-- Displaying tweets -->
<% for(let tweet of tweets) { %>
    <% if(tweet.retweetStatus) { %>
        <% retweetedBy = tweet.author;
        tweet = tweet.retweetStatus; %>    
    <% } else { retweetedBy = null } %>
<div class="card-body">
    <div class="row">
        <div class="col-2">
            <img class="rounded-circle me-auto p-0 m-1" src="<%= tweet.author.image.url %>" width="60 px" height="60 px">
        </div>
        <div class="col-10">
            <% if(retweetedBy) { %>
            <div class="ms-1 mb-2 fw-bold"><i class="fas fa-retweet"></i><%= retweetedBy.name %> retweeted </div>
            <% } %> 
            <div class="my-auto ms-1 d-flex">
                <p class="card-title m-0">
                    <a href="/<%=tweet.author._id %>" class="text-decoration-none text-dark"><b><%= tweet.author.name %></b></a>
                    <span class="text-muted m-0">@<%= tweet.author.username %> · </span>
                    <span class="text-muted m-0">
                        <%= moment(tweet.date).fromNow(true) %> -
                    </span>
                    <a href="/tweets/<%= tweet._id %>" class=" fw-bold ms-2">view</a>
                </p>
            </div>
            <div>
                <!-- Displaying replying to in post with parents  -->
                <% if(tweet.parent) { %> 
                <p>Replying to <a href="/<%=tweet.parent.author._id %>">@<%= 
                tweet.parent.author.username %></a></p>
                <% } %> 
                <p> <%= tweet.text %> </p>
            </div>
            <!-- Displaying Carousel if array images is not empty -->
            <% if (tweet.images.length >= 1) { %> 
            <div id="tweetCarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <% tweet.images.forEach((img, i ) => { %> 
                    <li data-bs-target="#tweetCarousel" data-bs-slide-to="<%= i %>" class="active"></li>
                    <% }) %> 
                </ol>
                <div class="carousel-inner">
                    <% tweet.images.forEach((img, i ) => { %> 
                    <div class="carousel-item <%= (i === 0) ? "active" : "" %> "> 
                        <img src="<%= img.url %> " class=" img-fluid img-thumbnail mb-2" alt="...">
                    </div>
                    <% }); %> 
                </div>
                <% if (tweet.images.length > 1) {  %> 
                <a class="carousel-control-prev" href="#tweetCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#tweetCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
                <% } %> 
            </div>
            <% } %>
            <!-- Displaying button of posts -->
            <div class="d-flex justify-content-between">
                <!-- reply button modal -->
                <button type="button" class="btn btn-share-reply" data-bs-toggle="modal" data-bs-target="#replyModal<%= tweet._id %>"><i class="far fa-comment"></i>
                <%= (tweet.replies.length) ? tweet.replies.length : "" %> 
                </button>
                <!-- Retweet button -->
                <form action="/tweets/<%= tweet._id %>/retweet" method="POST">
                    <% if(currentUser && tweet.retweets.some(retweet => { return retweet.author.equals(currentUser._id)})) {  %>
                    <button class="btn btn-retweet retweeted"><i class="fas fa-retweet"></i></button>
                    <% } else { %>
                    <button class="btn btn-retweet"><i class="fas fa-retweet"></i></button>
                    <% } %>
                </form>
                <!-- Like buttons -->
                <form action="/tweets/<%= tweet._id %>/like" method="POST">
                    <% if(currentUser && tweet.likes.some(like => { return like.equals(currentUser._id)})) { %>
                    <button class="btn btn-like liked"><i class="fas fa-heart"></i><%= (tweet.likes.length) ? tweet.likes.length : "" %></button>
                    <% } else { %>
                    <button class="btn btn-like"><i class="fas fa-heart"></i><%= (tweet.likes.length) ? tweet.likes.length : "" %></button>
                    <% } %> 
                </form>
                <!-- share button -->
                <button class="btn btn-share-reply"><i class="fas fa-share-alt"></i></button>
                <!-- Delete button -->
                <% if(currentUser && tweet.author.equals(currentUser._id)) { %> 
                <form action="/tweets/<%=tweet._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-like liked" type="submit"><i class="fas fa-trash-alt text-danger"></i></button>
                </form>
                <% } %> 
            </div>
        </div>
    </div>
</div>
<hr class="my-0">
<!-- DISPLAY MODAL REPLY -->
<div class="modal fade" id="replyModal<%= tweet._id %>" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <% if(currentUser) { %> 
            <div class="modal-header p-2">
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <!-- PP USER OF POST -->
                        <img class="img-fluid rounded-circle mb-4" src="<%= tweet.author.image.url %>" alt="">
                        <!-- PROFILE PICTURE OF USER LOGGED -->
                        <img class="img-fluid rounded-circle mt-1" src="<%= currentUser.image.url %>" alt="">
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="card-title m-0">
                                <b> <%= tweet.author.name %></b>
                                <span class="text-muted m-0">@<%= tweet.author.username %> · </span>
                                <span class="text-muted m-0">
                                    <%= moment(tweet.date).fromNow(true)%>
                                </span>
                            </p>
                            <p class="my-2"><%= tweet.text %> </p>
                            <p class="text-muted fs-6">Replying to <a href="/<%= tweet.author._id %>">@<%= tweet.author.username %></a></p>
                        </div>
                        <!-- FORM TO REPLY -->
                        <form action="/tweets/<%= tweet._id%>" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <textarea class="form-control" name="tweet[text]" id="text" cols="30" rows="4" placeholder="Tweet your reply" required autofocus></textarea>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-sm btn-primary ms-auto rounded-pill">Reply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% } %> 
        </div>
    </div>
</div>
<% } %> 