<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <a class="my-auto" href="/twitter/home"><i class="fas fa-arrow-left mx-3"></i></a>
                Twittear
            </div>
            <div class="row mt-2">
                <div class="col-10 offset-1 d-flex">
                    <img class="rounded-circle text-center p-0 m-1" src="<%= tweet.author.image.url %>" width="60 px"
                        height="60 px">
                    <div class="my-auto ms-3">
                        <h5 class="card-title m-0"><a href="/<%= tweet.author._id %>" class="text-decoration-none text-dark"><b><%= tweet.author.name %></b></a></h5>
                        <span>@<%= tweet.author.username %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <!--  Display replying to - if tweet has a parent %>  -->
                    <% if(tweet.parent) { %>  
                    <p>Replying to<a href="">@<%= tweet.parent.author.username %> </a></p>
                    <% } %> 
                    <p class="card-text"> <%= tweet.text %> </p>
                    <!-- Displaying Carousel if array images is not empty -->
                    <% if (tweet.images.length) { %> 
                    <div id="tweetCarousel" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <% tweet.images.forEach((img, i ) => { %> 
                            <li data-bs-target="#tweetCarousel" data-bs-slide-to="<%= i %>" class="active"></li>
                            <% }) %> 
                        </ol>
                        <div class="carousel-inner">
                            <% tweet.images.forEach((img, i ) => { %> 
                            <div class="carousel-item <%= (i === 0) ? "active" : "" %> "> 
                                <img src="<%= img.url %> " class=" img-fluid img-thumbnail mb-2" alt="...">
                            </div>
                            <% }); %> 
                        </div>
                        <!-- Displaying controls ONLY if there's more than one img. -->
                        <% if (tweet.images.length > 1) {  %> 
                        <a class="carousel-control-prev" href="#tweetCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#tweetCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                        <% } %> 
                    </div>
                    <% } %> 
                    <ul class="list-group list-group-flush mb-2">
                        <li class="list-group-item text-muted"><%= moment(tweet.date).format("lll")%></li>
                        <li class="list-group-item d-flex">
                            <% if(tweet.replies.length) { %> 
                            <a class="text-decoration-none text-dark fw-bold me-4" href=""><%= tweet.replies.length %> <span class="text-muted">Replies</span></a>
                            <% } %>
                            <a class="text-decoration-none text-dark fw-bold me-4" href="">22 <span class="text-muted">Retweets</span></a>
                            <% if(tweet.likes.length) { %> 
                            <a class="text-decoration-none text-dark fw-bold" href=""><%= tweet.likes.length %> <span class="text-muted">Likes</span></a>
                            <% } %> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-evenly">
                    <!-- Button trigger reply modal -->
                    <a class="btn btn-share-reply" type="button" data-bs-toggle="modal"
                    data-bs-target="#replyModal"><i class="far fa-comment"></i></a>
                    <!-- Retweet Button -->
                    <button class="btn btn-retweet"><i class="fas fa-retweet"></i></button>
                    <!-- Like buttons -->
                    <form action="/tweets/<%= tweet._id %>/like" method="POST">
                        <% if(currentUser && tweet.likes.some(like => { return like.equals(currentUser._id)})) {  %>
                        <button class="btn btn-like liked"><i class="fas fa-heart"></i></button>
                        <% } else { %>
                        <button class="btn btn-like"><i class="fas fa-heart"></i></button>
                        <% } %>
                    </form>
                    <!-- Share button -->
                    <button class="btn btn-share-reply"><i class="fas fa-share-alt"></i></button>
                    <% if(currentUser && tweet.author.equals(currentUser._id)) { %>
                    <!-- Delete button -->
                    <form action="/tweets/<%= tweet._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-like liked"><i class="fas fa-trash text-danger"></i></button>
                    </form>
                    <% } %> 
                </div>
            </div>
        </div>
        <!--Reply section-->
        <!--Display replies by looping through them-->
        <div class="card mb-3">           
            <% for(let reply of tweet.replies) { %>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img class="rounded-circle me-auto p-0 m-1" src="<%= reply.author.image.url %>" width="60 px" height="60 px">
                    </div>
                    <div class="col-10">
                        <div class="my-auto ms-1">
                            <p class="card-title m-0">
                                <a href="/<%= reply.author._id %>" class="text-decoration-none text-dark"><b><%= reply.author.name %></b></a>
                                <span class="text-muted m-0">@<%= reply.author.username %> · </span>
                                <span class="text-muted m-0">
                                    <%= moment(reply.date).fromNow(true) %> -
                                </span>
                                <a href="/tweets/<%= reply._id %>" class=" fw-bold ms-2">view</a>
                            </p>
                            <p class="text-muted fs-6">Replying to <a href="/<%= tweet.author._id %>">@<%= tweet.author.username %></a></p>
                        </div>
                        <div><p> <%= reply.text %> </p></div>
                        <!-- Displaying Carousel if array images is not empty -->
                        <% if (reply.images.length >= 1) { %> 
                        <div id="replyCarousel" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <% reply.images.forEach((img, i ) => { %> 
                                <li data-bs-target="#replyCarousel" data-bs-slide-to="<%= i %>" class="active"></li>
                                <% }) %> 
                            </ol>
                            <div class="carousel-inner">
                                <% reply.images.forEach((img, i ) => { %> 
                                <div class="carousel-item <%= (i === 0) ? "active" : "" %> "> 
                                    <img src="<%= img.url %> " class=" img-fluid img-thumbnail mb-2" alt="...">
                                </div>
                                <% }); %> 
                            </div>
                            <!-- Displaying controls ONLY if there's more than one img. -->
                            <% if (reply.images.length > 1) {  %> 
                            <a class="carousel-control-prev" href="#replyCarousel" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#replyCarousel" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                            <% } %> 
                        </div>
                        <% } %>
                        <div class="d-flex justify-content-between">
                            <!-- Button trigger reply on reply modal -->
                            <a class="btn btn-share-reply" type="button" data-bs-toggle="modal"
                            data-bs-target="#replyOnReplyModal">
                            <i class="far fa-comment"></i>
                            <%= (reply.replies.length) ? reply.replies.length : "" %>
                            </a>
                            <!-- Retweet Button -->
                            <button class="btn btn-retweet"><i class="fas fa-retweet"></i> 25</button>
                            <!-- Like Button -->
                            <form action="/tweets/<%= reply._id %>/like" method="POST">
                                <% if(currentUser && reply.likes.some(like => { return like.equals(currentUser._id)})) { %>
                                <button class="btn btn-like liked"><i class="fas fa-heart"></i>
                                    <%= (reply.likes.length) ? reply.replies.length : "" %>
                                </button>
                                <% } else { %>
                                <button class="btn btn-like"><i class="fas fa-heart"></i>
                                    <%= (reply.likes.length) ? reply.replies.length : "" %>
                                </button>
                                <% } %> 
                            </form>
                            <!-- Share Button -->
                            <button class="btn btn-share-reply"><i class="fas fa-share-alt"></i></button>
                            <% if(currentUser && reply.author.equals(currentUser._id)) { %>
                            <!-- Delete reply button-->
                            <form action="/tweets/<%=tweet._id%>/<%=reply._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-like liked" type="submit"><i class="fas fa-trash text-danger"></i></button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-0">
            <!-- Reply on reply Modal -->
            <div class="modal fade" id="replyOnReplyModal" tabindex="-1" aria-labelledby="replyOnReplyModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <% if(currentUser) { %> 
                        <div class="modal-header p-2 ">
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-fluid rounded-circle mb-4" src="<%= reply.author.image.url %>" alt="">
                                    <img class="img-fluid rounded-circle" src="<%= currentUser.image.url %>" alt="">
                                </div>
                                <div class="col-10">
                                    <div>
                                        <p class="card-title m-0">
                                            <b> <%= reply.author.name %></b>
                                            <span class="text-muted m-0">@<%= reply.author.name %> · </span>
                                            <span class="text-muted m-0">
                                                <%= moment(tweet.date).fromNow(true)%>
                                            </span>
                                        </p>
                                        <p class="my-2"><%= reply.text %> </p>
                                        <p class="text-muted fs-6">Replying to <a href="/<%= reply.author._id %>">@<%= reply.author.username %></a></p>
                                    </div>
                                    <form action="/tweets/<%= reply._id%>" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <textarea class="form-control" name="tweet[text]" id="text" cols="30" rows="4" placeholder="Tweet your reply" required autofocus></textarea>
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" type="file" id="image" name="image" multiple>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-sm btn-primary ms-auto rounded-pill">Reply</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="modal-header p-2 bg-dark bg-gradient">
                                <button type="button" class="btn-close m-0 btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-dark text-warning">
                                <p class="font-monospace">You need to <a href="/login" class="text-warning fw-bold">login</a>  first. If you dont have an account register <a href="/register" class="text-warning fw-bold">here.</a></p> 
                            </div>
                        <% } %>  
                    </div>
                </div>
            </div>
            <% } %> 
        </div>
        <!-- reply section END -->
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- Reply Modal -->
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <% if(currentUser) { %> 
            <div class="modal-header p-2 ">
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <img class="img-fluid rounded-circle mb-4" src="<%= tweet.author.image.url %>" alt="">
                        <img class="img-fluid rounded-circle mt-1" src="<%= currentUser.image.url %>" alt="">
                    </div>
                    <div class="col-10">
                        <div>
                            <p class="card-title m-0">
                                <b> <%= tweet.author.name %></b>
                                <span class="text-muted m-0">@<%= tweet.author.name %> · </span>
                                <span class="text-muted m-0">
                                    <%= moment(tweet.date).fromNow(true)%>
                                </span>
                            </p>
                            <p class="my-2"><%= tweet.text %> </p>
                            <p class="text-muted fs-6">Replying to <a href="/<%= tweet.author._id %>">@<%= tweet.author.username %></a></p>
                        </div>
                        <form action="/tweets/<%= tweet._id%>" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <textarea class="form-control" name="tweet[text]" id="text" cols="30" rows="4" placeholder="Tweet your reply" required autofocus></textarea>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="image" name="image" multiple>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-sm btn-primary ms-auto rounded-pill">Reply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="modal-header p-2 bg-dark bg-gradient">
                <button type="button" class="btn-close m-0 btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-dark text-warning">
                <p class="font-monospace">You need to <a href="/login" class="text-warning fw-bold">login</a>  first. If you dont have an account register <a href="/register" class="text-warning fw-bold">here.</a></p> 
            </div>
            <% } %>  
        </div>
    </div>
</div>