<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <!-- Profile Info -->
            <div class="card shadow rounded">
                <div class="card-header fw-bold text-capitalize"> <%= user.name %> </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <img src="<%= user.image.url %>" alt="" class="img-thumbnail rounded-circle" id="img-profile">
                        <!-- Button edit Profile modal -->
                        <% if(currentUser && user._id.equals(currentUser._id)) { %> 
                        <div class="mt-auto"><button type="button" class="btn btn-outline-primary rounded-pill fw-bold" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit profile</button></div>
                        <% } else { %>
                            <% if (currentUser && user.followers.some((follower) => { return follower.equals(currentUser._id) })) { %>
                            <div class="mt-auto"><a href="/follow/<%= user._id %>" class="btn btn-primary rounded-pill fw-bold" id="btn-unfollow">Following</a></div>
                            <% } else { %>
                            <div class="mt-auto"><a href="/follow/<%= user._id %>" class="btn btn-outline-primary rounded-pill fw-bold">Follow</a></div>
                            <% } %> 
                        <% } %> 
                    </div>
                    <div class="mb-2">
                        <h5 class="text-capitalize fw-bold"> <%= user.name %> </h5>
                        @<%= user.username %>
                    </div>
                    <div class="mb-2">
                        <p><%= user.biography %></p>
                        <% if(user.location){ %>  
                            <span class="text-muted"><i class="fas fa-map-marker-alt"></i> <%= user.location %></span>
                        <% } %> 
                    </div>
                    <div class="mb-3 d-flex">
                        <p class="fw-bold me-1"><%= user.followers.length %> </p>
                        <span class="text-muted me-3">Followers</span>
                        <p class="fw-bold me-1"><%= user.following.length %></p>
                        <span class="text-muted me-3">Following</span>                          
                    </div>
                </div>
            </div>
            <!-- Displaying tweets of user -->
            <div class="card">
                <%- include("../partials/displayTweets") %> 
            </div>
        </div>
    </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="editProfileModal">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/<%= user._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input class="form-control" type="text" name="user[name]" id="name" value="<%= user.name %>" placeholder="john" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="biography" class="form-label">Biography</label>
                        <input class="form-control" type="text" name="user[biography]" id="biography" maxlength="160" value="<%= user.biography %>" placeholder="About you">
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" type="text" name="user[location]" id="location" value="<%= user.location %>" placeholder="London, UK" maxlength="30">
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Profile picture</label>
                        <input class="form-control" type="file" name="image" id="image">
                        <div class="invalid-feedback fw-bold">You must add profile picture.</div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-primary rounded-pill fw-bold">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
