<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <!-- Profile Info -->
            <div class="card shadow rounded">
                <div class="card-header fw-bold text-capitalize"> <%= user.name %> </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <img src="<%= user.image.url %>" alt="" class="img-thumbnail rounded-circle" id="img-profile">
                        <!-- Button edit Profile modal -->
                        <% if(currentUser && user._id.equals(currentUser._id)) { %> 
                        <div class="mt-auto"><button type="button" class="btn btn-outline-primary rounded-pill fw-bold" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit profile</button></div>
                        <% } else { %>
                            <% if (currentUser && user.followers.some((follower) => { return follower.equals(currentUser._id) })) { %>
                            <div class="mt-auto"><a href="/follow/<%= user._id %>" class="btn btn-primary rounded-pill fw-bold" id="btn-unfollow">Following</a></div>
                            <% } else { %>
                            <div class="mt-auto"><a href="/follow/<%= user._id %>" class="btn btn-outline-primary rounded-pill fw-bold">Follow</a></div>
                            <% } %> 
                        <% } %> 
                    </div>
                    <div class="mb-2">
                        <h5 class="text-capitalize fw-bold"> <%= user.name %> </h5>
                        @<%= user.username %>
                    </div>
                    <div class="mb-2">
                        <p><%= user.biography %></p>
                        <% if(user.location){ %>  
                            <span class="text-muted"><i class="fas fa-map-marker-alt"></i> <%= user.location %></span>
                        <% } %> 
                    </div>
                    <div class="mb-3 d-flex">
                        <p class="fw-bold me-1"><%= user.followers.length %> </p>
                        <span class="text-muted me-3">Followers</span>
                        <p class="fw-bold me-1"><%= user.following.length %></p>
                        <span class="text-muted me-3">Following</span>                          
                    </div>
                </div>
            </div>
            <!-- Displaying tweets of user -->
            <div class="card">
                <% for(let tweet of tweets) { %>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img class="rounded-circle me-auto p-0 m-1" src="<%= tweet.author.image.url %>" width="60 px" height="60 px">
                            </div>
                            <div class="col-10">
                                <div class="my-auto ms-1 d-flex">
                                    <p class="card-title m-0">
                                        <a href="/<%=tweet.author._id %>" class="text-decoration-none text-dark"><b><%= tweet.author.name %></b></a>
                                        <span class="text-muted m-0">@<%= tweet.author.username %> · </span>
                                        <span class="text-muted m-0">
                                            <%= moment(tweet.date).fromNow(true) %> -
                                        </span>
                                        <a href="/tweets/<%= tweet._id %>" class=" fw-bold ms-2">view</a>
                                    </p>
                                </div>
                                <div>
                                    <% if(tweet.parent) { %> 
                                    <p>Replying to <a href="/<%=tweet.parent._id %>">@<%= 
                                    tweet.parent.author.username %></a></p>
                                    <% } %> 
                                    <p> <%= tweet.text %> </p>
                                </div>
                                <!-- Displaying Carousel if array images is not empty -->
                                <% if (tweet.images.length >= 1) { %> 
                                <div id="tweetCarousel" class="carousel slide" data-bs-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <% tweet.images.forEach((img, i ) => { %> 
                                        <li data-bs-target="#tweetCarousel" data-bs-slide-to="<%= i %>" class="active"></li>
                                        <% }) %> 
                                    </ol>
                                    <div class="carousel-inner">
                                        <% tweet.images.forEach((img, i ) => { %> 
                                        <div class="carousel-item <%= (i === 0) ? "active" : "" %> "> 
                                            <img src="<%= img.url %> " class=" img-fluid img-thumbnail mb-2" alt="...">
                                        </div>
                                        <% }); %> 
                                    </div>
                                    <% if (tweet.images.length > 1) {  %> 
                                    <a class="carousel-control-prev" href="#tweetCarousel" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#tweetCarousel" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                    <% } %> 
                                </div>
                                <% } %> 
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-share-reply"><i class="far fa-comment"></i> 22</button>   
                                    <button class="btn btn-retweet"><i class="fas fa-retweet"></i> 25</button> 
                                    <form action="/tweets/<%= tweet._id %>/like" method="POST">
                                        <% if(currentUser && tweet.likes.some(like => { return like.equals(currentUser._id)})) { %>
                                        <button class="btn btn-like liked"><i class="fas fa-heart"></i> 5.380</button>
                                        <% } else { %>
                                        <button class="btn btn-like"><i class="fas fa-heart"></i> 5.380</button>
                                        <% } %> 
                                    </form>
                                    <button class="btn btn-share-reply"><i class="fas fa-share-alt"></i></button>
                                    <% if(currentUser && tweet.author.equals(currentUser._id)) { %> 
                                    <form action="/tweets/<%=tweet._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-like liked" type="submit"><i class="fas fa-trash-alt text-danger"></i></button>
                                    </form>
                                    <% } %> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0">
                <% } %> 
            </div>
        </div>
    </div>
</div>
<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="editProfileModal">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/<%= user._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input class="form-control" type="text" name="user[name]" id="name" value="<%= user.name %>" placeholder="john" required>
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="biography" class="form-label">Biography</label>
                        <input class="form-control" type="text" name="user[biography]" id="biography" maxlength="160" value="<%= user.biography %>" placeholder="About you">
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input class="form-control" type="text" name="user[location]" id="location" value="<%= user.location %>" placeholder="London, UK" maxlength="30">
                        <div class="valid-feedback">Looks Good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Profile picture</label>
                        <input class="form-control" type="file" name="image" id="image">
                        <div class="invalid-feedback fw-bold">You must add profile picture.</div>
                    </div>
                    <div class="modal-footer ">
                        <button type="submit" class="btn btn-primary rounded-pill fw-bold">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>